.header-container {
    padding: 10px;
  }
  
  .logo {
    width: 50px;
    height: auto;
  }
  
  .navbar-nav .nav-item {
    margin-right: 15px;
  }
  
  .current-date {
    font-weight: bold;
  }
  